

    <h1 class="text-center">Team Design Section with Pure CSS Effect</h1>

	
	<div class="container">
	<div class="row">
	
	<!--Libro fantasia-->
	<div class="col-lg-4">
	    <div class="our-team-main">
			
	     <div class="team-front">
		<img src="https://images.cdn2.buscalibre.com/fit-in/360x360/e3/bc/e3bcd85377567759874a0664f894a67b.jpg"  />
		<h3>Libros de fantasia</h3>
	</div>
	
	<div class="team-back">
	    <span>
			El término literatura fantástica alude a un género narrativo basado sobre todo en los elementos de fantasía, dentro del cual se pueden agrupar varios subgéneros, entre los que están la literatura de terror, ciencia ficción o la literatura gótica.
			<br>
		<a [routerLink]="['/Listado/fantasia']"  class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Ir</a>
	    </span>
	</div>
	
	</div>
	</div>
	<!--Libro fantasia-->
	
	<!--Libro terror-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="https://i.pinimg.com/564x/d7/e5/32/d7e532223786c6ce26281180cb4b269b.jpg"  />
	<h3>Libros de horror</h3>
	</div>
	
	<div class="team-back">
	<span>
		La novela de terror es un subgénero dentro de la novela, que es a su vez un subgénero de la épica o narrativa. Su principal característica y rasgo distintivo es el cultivo del miedo y sus emociones asociadas como principal objetivo literario.
		<br>
    <a [routerLink]="['/Listado/horror']" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Ir</a>
	</span>
	</div>
	
	</div>
	</div>
	<!--Libro terror-->
	
	<!--Libro amor-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="https://images-na.ssl-images-amazon.com/images/I/91bSoHZ4VLL.jpg" class="img-fluid" />
	<h3>libros de amor</h3>
	</div>
	
	<div class="team-back">
	<span>
		Las novelas románticas describen historias de amor, relatos pasionales en los que las historias de sentimientos, la exaltación del corazón y el enamoramiento tienen peso en la trama.
		<br>
	<a [routerLink]="['/Listado/romance']"  class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Ir</a>
	</span>
	</div>
	
	</div>
	</div>
	<!--Libro amor-->
	
	<!--LibroAutoayuda-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="https://espanol.free-ebooks.net/2d_covers/large/1437610091.jpg" class="img-fluid" />
	<h3>Libros de autoayuda</h3>
	</div>
	
	<div class="team-back">
	<span>
		Los libros De autoayuda se refieren a cada caso -el test mismo es medida de “personalización” de la terapia- pero al mismo tiempo se proponen como universales, más allá de sus creencias y sus características particulares.
		<br>
	<a [routerLink]="['/Listado/autoayuda']"  class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Ir</a>
	</span>
	</div>
	
	</div>
	</div>
	<!--LibroAutoayuda-->
	
	<!--Libros bibliograficos-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="https://www.mundodeportivo.com/r/GODO/MD/p6/Ocio/Imagenes/2019/10/01/Recortada/img_emuntanola_20191001-131027_imagenes_md_otras_fuentes_libro_kobe-0004-k3kD-U47760059348rJI-572x727@MundoDeportivo-Web.jpg" class="img-fluid" />
	<h3>Libros biograficos</h3>
	
	</div>
	
	<div class="team-back">
	<span>
		Una autobiografía difiere de una biografía en que en la primera el escritor narra su propia vida. ... El autor de una autobiografía describe de manera literaria su vida privada y los cambios que han ocurrido en su personalidad y manera de ser.
		<br>
	<a [routerLink]="['/Listado/biografia']"  class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Ir</a>
	</span>
	</div>
	
	</div>
	</div>
	<!--Libros bibliograficos-->
	
	<!--Libros Detectives-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="https://imagessl7.casadellibro.com/a/l/t5/27/9788420487427.jpg" class="img-fluid" />
	<h3>Libros de detectives</h3>
	</div>
	
	<div class="team-back">
	<span>
		Ficción detectivesca o ficción con detectives o detectives en la literatura (en inglés detective fiction) es un subgénero de la novela negra y de la ficción de misterio y de suspense, en el que un investigador 
		<br>
	<a [routerLink]="['/Listado/detectives']" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Ir</a>
	</span>
	</div>
	
	</div>
	</div>
	<!--Libros Detectives-->
	
	
	
	</div>
	</div>